{% extends 'layout-admin.html.twig' %}
{% block title %} Dashboard{% endblock %}
{% block content %}

<div class="text-center">
    <h1 class="hi_admin">Hi {{ session.user.firstname }}. Welcome to your dashboard.</h1>
    <br><br>
    <img src="/assets/images/Sales.png">
</div>




{% endblock %}