{% extends 'layout.html.twig' %}
{% block title %} - Success {{article.title}}{% endblock %}
{% block content %}
<section id="success" class="container">
<h1 class="text-center"> Your contact request has been sent !</h1>
</section>
{% endblock %}